@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
:root
{
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body 
{
    font-family: var(--ff-secondary);
    background:  hsl(210, 36%, 96%);;;
    color: hsl(209, 61%, 16%);
    line-height: 1.5;
    font-size: 0.875rem;
}
ul 
{
    list-style-type: none;
}
a 
{
    text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: 1;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 0.875rem;
  }
nav
{
    background-color: #fff;
    display: grid;
    height: 3rem;
    align-items: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.nav-center 
{
    width: 90vw;
    max-width: 620px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-center h4
{
    color: hsl(205, 78%, 60%);
    letter-spacing: 2mm;
    margin-bottom: 0;
}
.nav-links
{
    display: flex;
}
nav a 
{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1rem;
    color: rgb(29, 29, 28);
    letter-spacing: 1mm;
    margin-right: 1rem;
}
nav a:hover 
{
    color: hsl(205, 78%, 60%);;
}

main 
{
    min-height: calc(100vh - 3rem);
    display: grid;
    place-items: center;
}
.container 
{

  text-align: center;
}
.container h2
{
    font-family: var(--ff-secondary);
    background: rgb(31, 27, 27);
    color: white;
    padding: 1rem;
    border-radius: 20px;
    margin-bottom: 2.5rem;
    letter-spacing: 2mm;
}
.btn-hero {
    font-family: var(--ff-primary);;
    text-transform: uppercase;
    background: transparent;
    color: rgb(39, 31, 31);
    letter-spacing: var(--spacing);
    display: inline-block;
    font-weight: 700;
    transition: 1.2s;
    border: 2px solid black;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
  }
  .btn-hero:hover {
    color: var(--clr-white);
    background: var(--clr-black);
  }
  @media(min-width: 992px) 
  {
    .section-center 
    {
      width: 95vw;
    }
  }